<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>GM Elçi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="margin: 0; padding: 0; background-color: #f9F9F9;">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
            font-family: Sans-Serif;
            color: #393939;
            font-size: 16px;
        }

        .content {
            width: 100%;
            max-width: 650px;
        }

        a {
            color: #393939;
            text-decoration: none;
        }

        p {
            line-height: 20px;
        }
    </style>

    <table align="center" class="content" cellpadding="0" cellspacing="0" width="650"
        style="border-collapse: collapse; margin-top:30px; margin-bottom: 30px;">
        <tr>
            <td bgcolor="#ffffff" align="center" style="padding: 40px 0 40px 0; border-bottom:1px solid #dedede;">
                <a href="https://www.generalmobile.com"> <img
                        src="https://assets.generalmobile.com/images/mailing/gm-logo-2.png" alt="General Mobile"
                        width="400" style="display:block; border-style:none;" /></a>

            </td>
        </tr>

        <tr>
            <td bgcolor="#f5f5f5" style="padding: 15px 30px 15px 30px; border-bottom:1px solid #dedede;">
                <table>
                    <tr>
                        <td width="375" style="padding-right: 30px;">
                            <p style="font-size: 16px;"> <b>Sevgili {{name}},</b> <br><br>
                                General Mobile ürünlerine gösterdiğiniz ilgi için size çok teşekkür ederiz. Sitemizde
                                tüm ürünlerde geçerli <b>%10 indirim kuponunu </b>sizlerle paylaştık. Dilerseniz hemen
                                alışverişe başlayabilir veya kuponunuzu bir başka arkadaşınıza <b>hemen şimdi</b> hediye
                                edebilirsiniz. </p>
                            <br>
                            <p>Keyifli alışverişler dileriz.</p>
                        </td>
                        <td> <a href="#"><img
                                    src="https://assets.generalmobile.com/images/mailing/gm-elci-businnes-to-customer.png"
                                    alt="" width="250" style=”border-style: none;”></a></td>
                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td bgcolor="#f5f5f5" style="padding: 15px 30px 15px 30px;">
                <table>
                    <tr>
                        <td style="padding-right: 30px;">
                            <p style="font-size: 16px;">İşte hemen değerlendirebileceğiniz bazı fırsatlar: </p>

                        </td>

                    </tr>
                </table>
            </td>

        </tr>

        <tr>
            <td bgcolor="#f5f5f5" style="padding: 15px 30px 15px 30px; border-bottom:1px solid #dedede;">
                <table>
                    <tr>
                        <td><a href="https://www.generalmobile.com/tr/urunler/turbo-sarj-adaptoru-m100378"><img
                                    src="https://assets.generalmobile.com/images/mailing/121219/sarz-adaptoru-sm-mailing.jpg"
                                    alt="" width="190" style=”border-style: none;”></a></td>
                        <td><a href="https://www.generalmobile.com/tr/urunler/mikrofonlu-kulaklik-m100379"><img
                                    src="https://assets.generalmobile.com/images/mailing/121219/kulaklik-sm-mailing.jpg"
                                    alt="" width="190" style=”border-style: none;”></a></td>
                        <td><a href="https://www.generalmobile.com/tr/urunler/destek-paketleri"><img
                                    src="https://assets.generalmobile.com/images/mailing/121219/hep-guvende-sm-mailing.jpg"
                                    alt="" width="190" style=”border-style: none;”></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#f5f5f5">
            <td style="padding:30px; text-align: center;">
                <a href="https://www.generalmobile.com">www.generalmobile.com</a>
            </td>
        </tr>

    </table>

</body>

</html>